@page "/worktimes"
@inject WorkTimeService WorkTimeService

<h3>Work Times</h3>

<ul>
    @foreach (var workTime in workTimes)
    {
        <li>@workTime.ProjectName - @workTime.StartTime.ToString("g") - @workTime.EndTime.ToString("g") - @workTime.Description</li>
    }
</ul>

@code {
    private List<WorkTime> workTimes;

    protected override async Task OnInitializedAsync()
    {
        workTimes = await WorkTimeService.GetWorkTimes();
    }
}
